body{

    background-color: #eee; 
}
tr.bg_yellow td{background-color: yellow !important;}
tr.bg_red td{background-color: red !important;}
.bg_form {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
}
.messagealert {
    width: 75%;
    position: fixed;
    top: 0px;
    z-index: 100000;
    padding: 0;
    font-size: 15px;
}
