@{
    ViewData["Title"] = "Home Page";
}
<section>
    <div class="container mt-4">
        <div class="header_wrap">
            <div class="container">
                <div class="col">
                    <h4>Medicine Details</h4>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active"  asp-controller="Home" asp-action="AddMedicine"><i class="fas fa-plus-circle"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="tb_search">
                            <input type="text" id="searchMedicine" onkeyup="searchMedicine()" placeholder="Search.."
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>

            <table class="table table-hover table-bordered table-striped" id="tblMedicineDetails">
                <thead>
                    <tr class="bg-info">
                        <th>Medicine Full Name</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Expiry Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbodyMedicines">

                <tbody>
            </table>

        </div>
    </div>
</section>

<script>
    var url = "https://localhost:44390/api/Medicine";

    $(document).ready(function () {
        fetch("http://localhost:62790/api/Medicine").then(res => {
            return res.json();
        }).then(data => bindMedicinesToGrid(data))
            .catch(error => handleException(null, error, null));
    });

    function bindMedicinesToGrid(medicines) {
        if ($("#tblMedicineDetails tbody").length == 0) {
            $("#tblMedicineDetails").append("<tbody></tbody>");
        }
        var htmlText = '';
        for (var i = 0; i < medicines.length; i++) {
            htmlText += medicineBuildTableRow(medicines[i])
        }
        $("#tbodyMedicines").html('');
        htmlText += '<tr id="trNoDataId" style="display:none"><td colspan="6"> No Data Found </td></tr>'
        $("#tbodyMedicines").html(htmlText);
    }

    function medicineBuildTableRow(medicine) {
        var id = medicine.id;
        var ret = '';
        if (medicine.quantity < 10) {
            ret += "<tr class='bg-warning w3-yellow'>";
        }
        else if (medicine.isRedBackGround == true) {
            ret += "<tr class='bg-danger'>";
        }
        else {
            ret += "<tr>";
        }

        ret +=
            "<td>" + medicine.medicineFullName + "</td>" +
            "<td>" + medicine.brand + "</td>" +
            "<td>" + medicine.price + "</td>" +
            "<td>" + medicine.quantity + "</td>" +
            "<td>" + medicine.expiryDate.split('T')[0] + "</td>" +
            "<td> <a id='btnUpdate' data-id='" + id + "' onclick='pageRedirect(this)' href='#'>  <i class='fas fa-pencil - alt'></i> </a> </td>" +
            "</tr>";
        return ret;
    }

    function searchMedicine() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchMedicine");
        filter = input.value.toUpperCase();
        table = document.getElementById("tblMedicineDetails");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
        //Display if records not found
        $('#trNoDataId').hide();
        if ($('tbody > tr:not([style*="display: none"])').length == 0) {
            $('#trNoDataId').show();
        }
    }

    function handleException(request, message, error) {
        var msg = "";
        msg += "Code: " + request.status + "\n";
        msg += "Text: " + request.statusText + "\n";
        if (request.responseJSON != null) {
            msg += "Message" + request.responseJSON.Message + "\n";
        }
        alert(msg);
    }

    function pageRedirect(currObj) {
        var medicineId = $(currObj).data('id');
        if (medicineId != null)
            window.location.href = 'Home/AddMedicine/' + medicineId;
    }
</script>

